@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #384b74;
  --home-color:#5f6a83;
}

body {
  font-family: 'Lato', sans-serif;
  color: #444;
  line-height: 1.5em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 10px 0;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.3em;
  margin: 10px 0;
}

img {
  width: 100%;
}

/* navbar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  margin: 0 5px;
  padding: 10px;
}

.navbar a:hover {
  border-left: 10px solid #fff;
}
.navbar .flex {
  justify-content: space-between;
}

.home{
  height: 450px;
  position: relative;
  color:#fff;
  background-color: var(--home-color);
}

.home img{
width:85%
}

.home p{
margin: 50px 0;
}

.home .grid{
  grid-template-columns: 60% 40%;
  gap: 50px;
  overflow:visible;
}

.home::before,
.home::after{
  content:'';
  position:absolute;
  height: 70px;
  bottom: -50px;
  right:0;
  left: 0;
  background: var(--home-color);
  transform: skewY(-1deg);
  -webkit-transform: skewY(-1deg);
  -moz-transform: skewY(-1deg);
  -ms-transform: skewY(-1deg);
}

.middle{
  margin: 50px 0;
}
.middle h2,
.expertise h2{
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
}

.expertise .card:hover{
  border-top: 4px solid var(--primary-color);
}


